*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
--Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    gap:2vh;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    min-width: 325px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    gap:20px;
}

#product-img {
    width:100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height:200px;
}

#text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding : 0px 25px;
}

h1 {
    color: var(--Dark-Grayish-Blue);
    font-size: 16px;
    font-weight: 700;
}

p {
    color: var(--Dark-Blue);
    font-weight: 500;
    font-size: 14px;
}

#author-info {
    display:grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 20px 25px;
    column-gap: 10px;
    max-width: fit-content;

}

#share-links {
    background-color: var(--Dark-Grayish-Blue);
    color: var(--Light-Grayish-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32.5px 25px;
    border-radius: 0px 0px 20px 20px;
    gap:20px;
}

#author-img {
    width:100%;
    grid-column: 1;
    grid-row: 1 / 3;
    object-fit: cover;
    border-radius: 50%; 
}

#author-name {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    color: var(--Dark-Grayish-Blue);
    font-size: 14px;
    font-weight: 700;
}

#date {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

#link-btn {
    grid-column:3;
    grid-row:1/3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 30px;
    height: 30px;
    margin-left:13px;
}

.svg-button {
    background-color: var(--Light-Grayish-Blue);
    border: none;
    cursor: pointer;
    color: var(--Dark-Grayish-Blue) ;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .svg-button svg {
    width: 15px;
    height: 13px;
  }
  

#link-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.icon {
    height: 30px;
    width: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1000px) {
     
    #container {
        display:grid;
        grid-template-columns: 38% 62%;
        grid-template-rows: auto auto;
        align-items: center;
        max-width: 55rem;
        min-width: 55rem;
        align-items: center;
        gap:0px;
        position:relative;
        box-shadow: 0 4px 8px var(--Dark-Grayish-Blue);
    }
    
    #product-img {
        width:100%;
        height:100%;
        border-radius: 20px 0px 0px 20px;
        grid-column: 1;
        grid-row: 1/3;
        object-fit: cover;
        object-position: left center;
        
    }
    
    #text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding : 30px;
        grid-column: 2;
        grid-row: 1/2;
    }
    
    h1 {
        color: var(--Dark-Grayish-Blue);
        font-weight: 700;
        font-size: 21px;
    }
    
    p {
        color: var(--Dark-Blue);
        font-weight: 500;
    }
    
    #author-info {
        grid-column: 2;
        grid-row: 2/3;
        display:grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: auto auto;
        align-items: center;
        padding:0px 30px 30px 30px;
        column-gap: 10px;
        margin:0px;
        max-width:100%;
    }
    
    #share-links {
        position: absolute; 
        bottom: 6rem; 
        right: -1.3rem;  
        width: auto; 
        height: auto; 
        padding: 10px 20px; 
        border-radius: 20px; 
        background-color: var(--Dark-Grayish-Blue);
        color: var(--Light-Grayish-Blue);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:20px;
        box-shadow: 0 4px 8px var(--Dark-Grayish-Blue);
    }


    

    
    #author-img {
        width:4rem;
        grid-column: 1;
        grid-row: 1 / 3;
        object-fit: cover;
        border-radius: 50%; 
        align-self: center;
        justify-self: center;
    }
    
    #author-name {
        grid-column: 2;
        grid-row: 1;
        align-self:flex-end;
        color: var(--Dark-Grayish-Blue);
        font-weight: 700;
    }
    
    #date {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
    }
    
    #link-btn {
        grid-column:3;
        grid-row:1/3;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 3rem;
        height: 3rem;
        margin-left:30px;
    }
    
    .svg-button {
        background-color: var(--Light-Grayish-Blue);
        border: none;
        cursor: pointer;
        color: var(--Dark-Grayish-Blue) ;
        display: flex;
        justify-content: center;
        align-items:center;
      }
    
      .svg-button svg {
        width: 15px;
        height: 15px;
      }
      
    
    #link-btn2 {
        display: none;
    }

    .icon {
        height: 30px;
        width: 30px;
    }

  }